/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  margin: 0;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: black;
  line-height: 1.5;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-top: 25px;
  margin-bottom: 49px;
  color: #272142;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #272142;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.logo {
  max-width: 150px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.contact-btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #000000;
  color: #fff;
  background-color: var(--branding-color);

  padding: 18px 30px;
  margin-top: 49px;
}
.contact-btn:hover {
  color: #000000;
  transition: all 200ms ease-in-out;
}
.project-description {
  padding: 120px 60px;
}
.feature-project {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-top: 81px;
}
.heading-project {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 55px;
}
.paragraph-project {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #272142;
  opacity: 0.7;
  margin-bottom: 10px;
}
.btn-project {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-family: var(--default-font-family);
  color: var(--branding-color);
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  padding: 18px 30px;
  margin-top: 50px;
}
.btn-project:hover {
  color: #fff;
  background-color: var(--branding-color);
}
/*about-me-style*/
.about-section {
  padding: 80px 20px;
}
.about-content-section {
  margin: 30px;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 25px;
}
.about-section h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}
.about-section p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 40px;
  line-height: 30px;
  color: #272142;
  opacity: 0.6;
}
.about-section .link-btn {
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  font-family: var(--default-font-family);
  font-weight: medium;
  font-size: 18px;
  padding: 18px 30px;
  line-height: 10px;
}
.about-section .link-btn:hover {
  color: #000000;
  transition: all 200ms ease-in-out;
}

/*work page styles*/

.work-page {
  padding: 160px 20px;
  margin-bottom: 5px;
}
.work-page h1 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: bold;
}
.work-page-image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.describe h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
.describe p {
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #272142;
  opacity: 0.7;
  margin: 0;
}
/*contact-me-style*/

.contact-me-section h1 {
  padding: 80px 20px;
  font-weight: bold;
  font-size: 64px;
  font-family: var(--heading-font-family);
  margin: 0;
}
/*footer*/
footer .work-inquiry {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
footer p {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.inquiry-btn {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.inquiry-btn:hover {
  color: #000000;
  transition: all 200ms ease-in-out;
  background-color: var(--branding-color);
}
footer p {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 100;
  color: #000000;
  text-align: center;
  margin-top: 30px;
}
footer.fab {
  border-radius: 50%;
}

footer .icon-footer {
  font-size: 18px;
  background-color: var(--secondary-color);

  border-radius: 50%;
}
footer .icon-footer:hover {
  background-color: #a07bcb;
  font-size: 28px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 20px;
  }
  .logo {
    max-width: 40px;
  }
  .hero {
    padding-top: 80px 20px;
  }
  .heading-project {
    margin-bottom: 0;
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 60px;
  }
  .work-page {
    text-align: center;
    padding: 0;
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .work-page h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 16px 0 9px 0;
  }
  .describe p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 40px;
  }
}
